{#
    This is a Jinja template for generating release notes with Python Semantic Release.
    Ref: https://python-semantic-release.readthedocs.io/en/latest/changelog_templates.html
#}

## What's Changed
{% for type_, commits in release["elements"] | dictsort %}
### {{ type_ | capitalize }}
{%- if type_ != "unknown" %}
{% for commit in commits %}
* {{ commit.descriptions[0] }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{%- endfor %}{% endif %}{% endfor %}

{% set releases = context.history.released.items() | list %}
{% set prev_version = releases[1][0] %}

**Full changes**: {{ prev_version | compare_url("v{}".format(version)) }}